.container-mudar-senha {
    display: flex;
    align-items: center;
}

.btn-mudar-senha {
    background-color: var(--cor-secundaria);
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;

    padding: 10px 18px;
    border-radius: 8px;

    transition: 0.3s;
    border: 2px solid transparent;
}

.btn-mudar-senha:hover {
    background-color: #C05510;
}

.btn-mudar-senha:active {
    transform: scale(0.98);
}