.grid-consultas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.card-mini-consulta {
    background: #fff;
    border-left: 5px solid #00a6ce;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.status-agendada {
    border-left-color: #f1c40f;
}

.status-realizada {
    border-left-color: #2ecc71;
}

.h4 {



    /* scorro DEUS do css vulgo tutu */
    display: flex;
    align-items: center;
    align-content: center;
    margin: 0 0 10px;
    color: #333;
}

.btn-reagendar {
    background: #b3e5ff;
    color: #004b66;
    border: none;
    padding: 8px 14px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;

    display: block;
    margin-left: auto;
    margin-top: 12px;

    transition: 0.2s ease;
}

.btn-reagendar:hover {
    background: #99dbff;
    transform: scale(1.03);
}

.btn-reagendar:active {
    transform: scale(0.98);
}

.message-box {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    font-size: 14px;
    display: none;
    animation: aparecer 0.3s ease;
    box-sizing: border-box;
}

.message-box.success {
    background: #d4edda;
    color: #155724;
    border: 1px solid #28a745;
}

.message-box.error {
    background: #f8d7da;
    color: #721c24;
    border: 1px solid #dc3545;
}

@keyframes aparecer {

    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}