.grid-consultas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    padding: 10px 20px 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.card-mini-consulta {
    background: #fff;
    border-left: 5px solid #00a6ce;
    /* Cor principal do Elderia */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.status-agendada {
    border-left-color: #f1c40f;
}

.status-confirmada {
    border-left-color: #3498db; /* Azul */
}

.status-realizada {
    border-left-color: #2ecc71;
}

.status-recusada {
    border-left-color: #e74c3c; /* Vermelho */
}

.titulo-secao {
    text-align: center;
    margin: 30px 0 10px;
    color: #00a6ce;
    font-size: 1.5rem;
}

.divisor {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 20px auto;
    max-width: 80%;
}

h4 {
    display: flex;
    align-items: center;
    align-content: center;



    margin: 0 0 10px;
    color: #333;
}

/* Verde */